<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard THANA DEV</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./assets/css/sidebar.css">
    <link rel="stylesheet" href="./assets/css/porositereja.css">
</head>

<body>

    <%- include('aside'); -%>
        <!-- end of aside --->

        <main>
            <div class="containers">
                <header>Porosite E Reja</header>

                <form action="/neworder" method="post">
                    <div class="form first">
                        <div class="details personal">

                            <div class="fields">
                                <div class="input-field">
                                    <label>Emri I Porosise</label>
                                    <input type="text" placeholder="Emri I Porosise" name="emriPorosis" required>
                                </div>
                                <div class="input-field">
                                    <label>Pershkrimi</label>
                                    <input type="text" placeholder="Pershkrimi" name="pershkrimi" required>
                                </div>
                                <div class="input-field">
                                    <label>Cmimi</label>
                                    <input type="number" placeholder="Cmimi" name="qmimi" required>
                                </div>

                                <div class="input-field">
                                    <label>Emri I Pranuesit</label>
                                    <input type="text" placeholder="Emri i Pranuesit" name="name" required>
                                </div>

                                <div class="input-field">
                                    <label>Adresa</label>
                                    <input type="text" placeholder="Adresa" name="adresa" required>
                                </div>
                                <div class="input-field">
                                    <label>Numri i Telefonit pranuesit</label>
                                    <input type="tel" placeholder="Numri i telefonit" name="phone" required>
                                </div>
                                <div class="input-field">
                                    <label>Ofertat</label>
                                    <select name="Ofertat" required>
                                        <option value="Oferta 1">Oferta 1 </option>
                                        <option value="Oferta 2">Oferta 2 </option>
                                        <option value="Oferta 3">Oferta 3 </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="details ID">
                            <button class="nextBtn">
                                <span class="btnText">Dergo</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <!--end of main-->
        <div class="right">
            <div class="top">
                <span class="material-symbols-sharp" id="logout">logout</span>
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hej, <b>
                                <%= user.username%>
                            </b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="./assets/images/avatar-1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script src="order.js"></script>
        <script src="main.js"></script>
        <script>
            var goToSecondPage = document.getElementById('logout');
            goToSecondPage.addEventListener("click", function () {
                document.location.href = 'logout';
            })
        </script>
</body>

</html>